<% layout('layout') -%>

<section class="our-story">
  <div class="our-story-container">
    <div class="our-story-image">
      <img src="/images/ourStory.jpg" alt="Our Story Image" />
    </div>
    <div class="right">
      <div class="story-content">
        <h2>Our Story</h2>

        <p>
          At <strong>Ethereal Jewels</strong>, we believe that every piece of
          jewelry tells a story — of elegance, tradition, and timeless beauty.
          What started as a small dream has now grown into a brand that
          celebrates craftsmanship, authenticity, and individuality.
        </p>
        <p>
          Founded by <strong>Hina</strong>, Ethereal Jewels is a reflection of
          her deep passion for timeless beauty and intricate artistry. Inspired
          by nature and culture, each creation is thoughtfully designed to make
          you feel special and unique.
        </p>
        <p>
          <em><strong>“Crafted with soul, worn with grace.”</strong></em> <br />
          <span style="font-style: italic"
            >— Hina, Founder of Ethereal Jewels</span
          >
        </p>
      </div>
    </div>
  </div>
</section>
