<% layout('layout') -%>

<section class="contact-us">
    <div class="contact_wrapper">
  <div class="contact-us-container">
    <!-- Left-contactForm -->
    <div class="contact-form">
      <p style="font-size: 40px; font-weight: bold; color: #555555;" >Get in Touch</p>
      <form action="/contact" method="POST">
        <input type="text" name="name" placeholder="Your Name" required />
        <input type="email" name="email" placeholder="Your Email" required />
        <input type="text" name="subject" placeholder="Subject" required />
        <textarea name="message" placeholder="Your Message" required></textarea>
        <button type="submit">Send</button>
      </form>
    </div>
    <!-- Right-info Section -->
    <div class="contact-info">
      <p style="font-size: 30px; font-weight: bold;" >Our Address</p>
      <p>Jamia Millia Islmaia</p>
      <p>New Delhi , India</p>

      <p><b>Email: </b>support@etherealjewels.com</p>
      <p style="font-size: 30px; font-weight: bold;" >Follow Us</p>
<div class="social-icons">
  <!-- Instagram -->
  <a href="https://www.instagram.com/yourbrandname" target="_blank" aria-label="Instagram">
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" viewBox="0 0 24 24">
      <path d="M7.75 2h8.5A5.76 5.76 0 0 1 22 7.75v8.5A5.76 5.76 0 0 1 16.25 22h-8.5A5.76 5.76 0 0 1 2 16.25v-8.5A5.76 5.76 0 0 1 7.75 2ZM4.5 7.75v8.5A3.25 3.25 0 0 0 7.75 19.5h8.5A3.25 3.25 0 0 0 19.5 16.25v-8.5A3.25 3.25 0 0 0 16.25 4.5h-8.5A3.25 3.25 0 0 0 4.5 7.75ZM12 8a4 4 0 1 1 0 8 4 4 0 0 1 0-8Zm0 1.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5ZM16.5 6.75a.75.75 0 1 1 1.5 0 .75.75 0 0 1-1.5 0Z"/>
    </svg>
  </a>

  <!-- Facebook -->
  <a href="https://www.facebook.com/yourbrandname" target="_blank" aria-label="Facebook">
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" viewBox="0 0 24 24">
      <path d="M22 12a10 10 0 1 0-11.6 9.87v-6.99H8.3V12h2.1V9.8c0-2.07 1.23-3.22 3.12-3.22.9 0 1.84.16 1.84.16v2.02h-1.04c-1.02 0-1.34.63-1.34 1.27V12h2.28l-.36 2.88h-1.92v6.99A10 10 0 0 0 22 12Z"/>
    </svg>
  </a>

  <!-- Twitter -->
  <a href="https://twitter.com/yourbrandname" target="_blank" aria-label="Twitter">
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" viewBox="0 0 24 24">
      <path d="M22.46 6c-.77.35-1.6.58-2.46.69a4.29 4.29 0 0 0 1.88-2.37c-.83.5-1.74.85-2.7 1.04a4.27 4.27 0 0 0-7.29 3.9 12.12 12.12 0 0 1-8.8-4.46 4.27 4.27 0 0 0 1.32 5.7 4.2 4.2 0 0 1-1.93-.53v.05a4.27 4.27 0 0 0 3.42 4.18 4.3 4.3 0 0 1-1.93.07 4.27 4.27 0 0 0 3.99 2.96 8.56 8.56 0 0 1-5.3 1.83A8.64 8.64 0 0 1 2 18.41a12.08 12.08 0 0 0 6.56 1.92c7.88 0 12.2-6.53 12.2-12.2l-.01-.56A8.63 8.63 0 0 0 24 5.5a8.36 8.36 0 0 1-2.54.7Z"/>
    </svg>
  </a>
</div>

    </div>
  </div>
  </div>
</section>
