<% layout('layout') -%>

<section class="order-success">
  <div class="success-container">
    <h1>🎉 Order Placed Successfully!</h1>
    <p>
      Thank you for your purchase. We have received your order and will process
      it shortly.
    </p>
    <a href="/shop" class="btn btn-primary">Continue Shopping </a>
  </div>
</section>
