.our-story {
  padding: 0;
  background-color: #fef8f5;
  font-family: 'Raleway', sans-serif;
}
.our-story-container{
    display: flex;
 
    align-items: center;
    gap: 7rem;
    flex-wrap: wrap;
   padding-left: 0;
  margin: 0 ;
}
.story-content {
  flex: 1;
  max-width: 600px;
  display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: center;  /* vertical center */
  align-items: center;      /* horizontal center */
  text-align: center;       /* center text */
    padding: 20px;

}
.story-content h2 {
  font-family: 'Playfair Display', serif;
  font-size: 2.5rem;
  color: #8b5e3c;
  margin-bottom: 1rem;
}
.story-content p {
  
  line-height: 1.7;
  color: #444;
  margin-bottom: 1rem;
}

.right{
  display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: center;  /* vertical center */
  align-items: center;      /* horizontal center */
  text-align: center;    
}

@media(max-width: 768px) {
  .our-story-container {
    flex-direction: column;
    align-items: center;
  }
  .story-content {
    max-width: 100%;
    padding: 10px;
  }
}